.container
  .row
    .col-lg-12
      h1(class="text-center")
        |this._node beta
      h3(class="text-center")
        a(href="/api/facebooks/auth")
          |login with facebook
      h3(class="text-center text-primary")
        |this._node privacy policy
      p(class="text-center text-info")
        We will not publish your information outside of this._node events. This includes any exhibition where this._node is on display.

        We will not make a website where your information is publicly accessible. If we do push information online for demonstration purposes, all data will be thoroughly anonymized [e.g. all names changed, faces blurred in images].

        We will not email you. We will not call you. We will not post for you. We will not like anything for you. We will not share your information with advertisers. We do nothing but visually display data that is currently on facebook.
